<template>
  <div>
    <div v-if="!$apollo.queries.posts.loading">
      <div v-for="post in posts.edges" :key="post.id">
        <n-link :to="'/blog/' + post.node.slug">{{ post.node.title }}</n-link>
      </div>
      <div>
        <button @click.prevent="prevPage">Prev</button>
        <button @click.prevent="nextPage">Next</button>
      </div>
    </div>
    <div v-else>Loading...</div>
  </div>
</template>

<script>
import gql from 'graphql-tag'
export default {
  data() {
    return {
      pageForward: true,
      postCount: 5,
      postCursor: null,
    }
  },
  computed: {
    first() {
      return this.pageForward ? this.postCount : null
    },
    last() {
      return this.pageForward ? null : this.postCount
    },
    after() {
      return this.pageForward ? this.postCursor : null
    },
    before() {
      return this.pageForward ? null : this.postCursor
    },
  },
  apollo: {
    posts: {
      query: gql`
        query getPosts(
          $first: Int
          $last: Int
          $after: String
          $before: String
        ) {
          posts(first: $first, last: $last, after: $after, before: $before) {
            edges {
              node {
                id
                slug
                title
                date
              }
            }
            pageInfo {
              hasNextPage
              hasPreviousPage
              endCursor
              startCursor
            }
          }
        }
      `,
      variables() {
        return {
          first: this.first,
          last: this.last,
          after: this.after,
          before: this.before,
        }
      },
    },
  },
  methods: {
    nextPage() {
      this.pageForward = true

      if (this.posts?.pageInfo?.hasNextPage) {
        this.postCursor = this.posts?.pageInfo?.endCursor
      }
    },
    prevPage() {
      this.pageForward = false

      if (this.posts?.pageInfo?.hasPreviousPage) {
        this.postCursor = this.posts?.pageInfo?.startCursor
      }
    },
  },
}
</script>
