<template>
  <div>
    <pre v-if="!$apollo.queries.postBy.loading">{{ postBy }}</pre>
  </div>
</template>

<script>
import gql from 'graphql-tag'
export default {
  apollo: {
    postBy: {
      query: gql`
        query getPost($slug: String) {
          postBy(slug: $slug) {
            id
            slug
            title
            excerpt
            content
            featuredImage {
              node {
                uri
                altText
              }
            }
          }
        }
      `,
      variables() {
        return {
          slug: this.$route.params.slug,
        }
      },
    },
  },
}
</script>
